.editor {
    margin-left: 20%;
    width: 80%;
    max-width: 600px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
    width: 100%;
    height: 200px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: white;
    overflow-y: auto;
}

.controls {
    margin-bottom: 10px;
}

.controls button {
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    border-radius: 5px;
}

.controls button.active, .controls button:hover {
    background-color: #505b66;
}

.previewImageContainer {
    margin-top: 10px;
}

.previewImageContainer img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.containerUtama {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
}

/* Navbar.module.css */
.sidenav {
    background-color: #333;
    color: white;
    margin-left: -0.6%;
    height: 100%;
    width: 20%;
    margin-top: -0%;
    position: fixed;
}

.sidenav nav ul {
    list-style-type: none;
    padding: 0;

}

.sidenav nav ul li {
    margin-bottom: 10px;
}

.sidenav nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    transition: padding-left 0.3s ease;
}

.sidenav nav ul li a img {
    /* margin-bottom: -10px; */
    width: 60px;
    height: 40px;
}

.sidenav nav ul li a:hover {
    padding-left: 20px;
}


.tambah {
    margin-left: 20%;
    padding: 20px;
    display: flex;
    align-items: center;
}

.tambah button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.tambah button:hover {
    background-color: #0056b3;
}

.container {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 30%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.pelajaranTable {
    width: 100%;
    border-collapse: collapse;
}

.pelajaranTable th,
.pelajaranTable td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.pelajaranTable th {
    background-color: #f2f2f2;
}

.pelajaranTable tbody tr:hover {
    background-color: #f0f0f0;
}

.aksiButton {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
    transition: background-color 0.3s ease;
}

.aksiButton:hover {
    background-color: #0056b3;
}

/* File: setting.module.css */

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic container styles */
.containerTambah {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: #f8f9fa;
    /* Light background color */
}

/* Form styles */
.form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Title styles */
.title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/* Label styles */
.label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
}

/* Input styles */
.input {
    width: calc(100% - 20px);
    /* To account for padding */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
}

/* Button styles */
.button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    /* Bootstrap primary color */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
    /* Darker shade for hover effect */
}

/* Message styles */
.message {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}

.abutton {
    display: inline-block;
    /* Membuat tombol menjadi inline block */
    padding: 10px 50px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: -40%;
}

.abutton:hover {
    background-color: #2980b9;
}

.formGroup input {
    height: 40px;
    margin-bottom: 20px;
}

.formGroup label {
    font-family: Arial, Helvetica, sans-serif;

}

.heading {
    font-size: 24px;
    margin-bottom: 10px;
}

.siswaTable {
    width: 100%;
    border-collapse: collapse;
}

.tableHeader {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
}

.inputField {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.updateButton,
.editButton,
.deleteButton {
    padding: 8px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.updateButton {
    background-color: #4CAF50;
    color: white;
}

.editButton {
    background-color: #008CBA;
    color: white;
}

.deleteButton {
    background-color: #f44336;
    color: white;
}

.containerTambah2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    /* Light background color */
}
.form2 {
    background-color: rgb(238, 222, 222);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100vh;
}
.ikon{
    height: 10px;
    width: 10px;
}
.ikon1{
    height: 14px;
    width: 10px;
}
/* .imgsidebar{
    margin-bottom: -10px;
    width: 100px;
    height: 0px;
} */

.siswaTable {
    width: 80%;
    border-collapse: collapse;
    margin-left: 20%;
}

.tableHeader {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
    width: 10%;
}

.tableHeaderedit tr td {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: #000;
}

.tableHeaderedit {
    background-color: #dfd8d8;
    width: 50%;
}


.inputField {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.updateButton,
.editButton,
.deleteButton {
    padding: 8px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.updateButton {
    background-color: #4CAF50;
    color: white;
}

.editButton {
    background-color: #008CBA;
    color: white;
}

.editButton2{
    background-color: #008CBA;
    color: white;
    margin-left: 0%;
    padding: 8px 12px;
    /* margin-right: 5px; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
.deleteButton {
    background-color: #f44336;
    color: white;
}

.containerTambah2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    /* Light background color */
}
.form2 {
    background-color: rgb(238, 222, 222);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100vh;
}
.panjang_kotak{
    max-width: 80%;
}
.App {
    text-align: center;
    background-color: #f8f9fa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .uploadContainer {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .imgThumbnail {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .formLabel {
    font-weight: bold;
  }
  
  .btnPrimary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .btnPrimary:hover {
    background-color: #0056b3;
  }
  
  .formControl {
    margin-top: 10px;
    border-radius: 5px;
  }
  